.albums {
	color:#f9c74f;
}

.albums li {
	color: #f94144;
	font-size: larger;
	font-weight: 500;
}

.anton {
	float: left;
	margin-right: 1%;
}

.bio {
	color: #f94144;
}

.bio h2 {
	font-weight: 700;
}

.bio p {
	color: #f9c74f;
	font-weight: 500;
}

.BJM {
	width: 300px;
	height: auto;
}

body {
	background-color: #277da1;
}

.disco {
	color: #f94144;
	font-weight: 700;
}

.jumbotron {
	background-color: #577590;
	text-align: center;
}

.jumbotron h1 {
	color: #f94144;
	font-weight: 800;
}

.jumbotron p {
	color: #f9c74f;
	font-weight: 500;
	text-align: left;
}

.card {
	border: 2px solid #f94144;
	transition: ease-in-out;
}

.card:hover {
	box-shadow: 5px 5px 20px;
}

.card-body {
	background-color: #577590;
}

.card-text {
	color: #f9c74f;
	font-weight: 500;
}

.card-title {
	color: #f94144;
}

.col-md-3 {
	display: flex;
}

.give {
	float: left;
	width: 150px;
	height: 150px;
	margin-right: 3%;
}

.mental {
	float: left;
	width: 150px;
	height: 150px;
	margin-right: 3%;
}

.spacegirl {
	float: left;
	width: 150px;
	height: 150px;
	margin-right: 3%;
}

.tour {
	color: #f94144;
	font-weight: 700;
}